.carrinho {
    display: grid;
    width: fit-content;
}

.carrinho_pizzas:not(p) {
    border-bottom: 2px dashed;
    margin: 5px;
    text-align: center;
    width: 320px;
}

#valorTotal {
    border-top: 2px dashed;
    margin: 25px 0;
}

.links {
    padding: 15px;
}