#nome {
    left: 0;
    text-align: center;
    top: 0;
}

p {
    margin-left: 0;
}

.container:not(#container-pizzas) {
    border-bottom: 1px solid;
    margin: 3px;
    width: 218px;
}

button {
    background: var(--nardoGray);
    border: 1px solid var(--vidro);
    border-radius: 5px;
    box-shadow: 3px 3px 5px #7c7c7c;
    margin: 7px;
}

button:hover {
    background: var(--oceanicBlue);
    color: white;
}

.btn {
    margin-right: 0;
}