.card_pizzas {
    border-bottom: 1.5px solid;
}

.card_btn {
    margin-right: 0;
    padding: 3px;
}

button {
    background: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 7px;
}

.btn * {
    text-shadow: 2px 2px 2px var(--ghost_bg);
}

button:hover {
    color: red;
}

#card-link {
    transform: translateY(-15px);
}