#nome {
    left: 0;
    text-align: center;
    top: 0;
}

.pizzas_valor, .carrinho {
    margin-left: 0;
}

.container:not(#container-pizzas) {
    border-bottom: 1px solid;
    margin: 3px;
    width: 300px;
}

.pizzas_valor * {
    padding: 7px;
}

button {
    background: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 7px;
}

.btn * {
    text-shadow: 2px 2px 2px var(--ghost_bg);
}

button:hover {
    color: red;
}

.btn {
    margin-right: 0;
}