* {
    font-family: 'roboto mono', sans-serif;
    text-align: center;
}

.link {
    color: black;
}

.link:hover, .btn_pizza:hover {
    color: blue;
}

header {
    margin: 0 0 35px;
}

.ttl_pizza {
    border-bottom: 3px dashed;
}

.sabor {
    margin-left: 0;
}

.pizza:not(li) {
    border-bottom: 1px solid;
}

.card_btn {
    margin-right: 0;
}

.btn_pizza {
    background: none;
    border: none;
}

footer {
    margin-bottom: 3px;
}