@import 'jacss.css';
@import 'pedido.css';

* {
    font-family: 'roboto mono', sans-serif;
    overflow-wrap: break-word;
    text-shadow: var(--neon2) var(--ghost_bg);
    transition: 0.3s;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: var(--oceanicBlue);
}

header {
    margin-top: 0;
}

.h2_sabor {
    border-bottom: 2px dashed;
}

footer {
    margin-bottom: 3px;
    font-size: 10px;
}