* {
    font-family: 'roboto mono', sans-serif;
    text-shadow: var(--ghost_neon);
}

.link {
    color: black;
}

.link:hover {
    color: blue;
}

header {
    margin-top: 0;
}

.ttl_pizza {
    border-bottom: 2px dashed;
}

.subl_nardo .pizza {
    margin-left: 0;
}

.card_btn {
    margin-right: 0;
}

.counter_btn {
    background: none;
    border: none;
}

.item {
   
}

.item_sabor {
    margin-left: 0;
}

.item_valor {
    margin-right: 0;
}

footer {
    margin-bottom: 3px;
}